{% extends 'includes/base.html' %}
{% block content %}
<div class="col-12">
  <div id="main-content">
	{% include 'mdm/mdm_table_list.html' %}
  </div>
</div>
{% endblock %}
{% block javascripts %}
{% include 'includes/datatables.html' %}
<script>
function show_modal(url){
    var str_html = '<object data="'+url+'" type="application/pdf" width="100%" height="400px"><p>Unable to display PDF file. <a href='+url+'">Download</a> instead.</p></object>';
    $('#preview_file_pdf').modal("show").find(".modal-body").html(str_html);
};
</script>

{% endblock %}
