{% load widget_tweaks %}
{% load static  %}
{% block content %}
<div id="kt_content" class="content flex-row-fluid">
  <span id="title" hidden>{{ title }} </span>
<div class="card mb-5 mb-xxl-8">
<div class="card-body pt-9 pb-0">
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Nama Pegawai</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{% if object.nama %}{{ object.nama }} {% else %}{{ object.user.first_name }} {{ object.user.last_name }}{% endif %}</span>
        </div>
    </div>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">No Handphone</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{% if object.no_hp %}{{ object.no_hp }}{% endif %}</span>
        </div>
    </div>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">NIP</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{% if object.nip %}{{ object.nip }}{% endif %}</span>
        </div>
    </div>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">NIK</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{% if object.nik %}{{ object.nik }}{% endif %}</span>
        </div>
    </div>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Jabatan</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.kd_jabatan.nm_jabatan }}</span>
        </div>
    </div>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Unit</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.kd_unit.nm_unit }}</span>
        </div>
    </div>

    </div>
    <div class="card-footer">
      <a hx-target="#main-content" hx-swap="innerHTML" hx-trigger="click" hx-get="{% url 'uman:pegawai-list'  %}" class="btn btn-secondary mr-2"><i class="fa fa-undo"></i> Kembali</a>
    </div>
  
 </div>
 </div>
{% endblock content %}
{% block javascripts %}
 {% include 'includes/set_title.html' %}
{% endblock javascripts %}
