<div class="card mb-5 mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold fs-3 mb-1">
                {% slot "header" %}This is example header{% endslot %}
            </span>
        </h3>
    </div>
    <!--end::Header-->

    <!--begin::Body-->
    <div class="card-body py-3 mb-5">
        {% slot "content" %}This is example content{% endslot %}
    </div>
    <!--begin::Body-->
</div>