<div class="mb-5">
    <h4 class="fs-2">Background Color</h4>
    <h5 class="mb-3 fs-3">System Color</h5>
    <div class="container mb-3">
        <div class="row gap-3 mb-3">
          <div class="col py-10 bg-primary">
            <span class="text-center text-white fw-bold fs-3">bg-primary</span>
          </div>
          <div class="col py-10 bg-secondary">
            <span class="text-center text-dark fw-bold fs-3">bg-secondary</span>
          </div>
          <div class="col py-10 bg-success">
            <span class="text-center text-white fw-bold fs-3">bg-success</span>
          </div>
          <div class="col py-10 bg-info">
            <span class="text-center text-white fw-bold fs-3">bg-info</span>
          </div>
        </div>
        <div class="row gap-3">
          <div class="col py-10 bg-warning">
            <span class="text-center text-white fw-bold fs-3">bg-warning</span>
          </div>
          <div class="col py-10 bg-danger">
            <span class="text-center text-white fw-bold fs-3">bg-danger</span>
          </div>
          <div class="col py-10 bg-light">
            <span class="text-center text-dark fw-bold fs-3">bg-light</span>
          </div>
          <div class="col py-10 bg-dark">
            <span class="text-center text-white fw-bold fs-3">bg-dark</span>
          </div>
        </div>
    </div>
    <h5 class="mb-3 fs-3">RGB Color</h5>
    <div class="container mb-3">
        <div class="row gap-3 mb-3">
          <div class="col py-10" style="background-color: var(--bs-blue);">
            <span class="text-center text-white fw-bold fs-3">--bs-blue</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-indigo);">
            <span class="text-center text-white fw-bold fs-3">--bs-indigo</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-purple);">
            <span class="text-center text-white fw-bold fs-3">--bs-purple</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-pink);">
            <span class="text-center text-white fw-bold fs-3">--bs-pink</span>
          </div>
        </div>
        <div class="row gap-3 mb-3">
          <div class="col py-10" style="background-color: var(--bs-red);">
            <span class="text-center text-white fw-bold fs-3">--bs-red</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-orange);">
            <span class="text-center text-white fw-bold fs-3">--bs-orange</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-yellow);">
            <span class="text-center text-white fw-bold fs-3">--bs-yellow</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-green);">
            <span class="text-center text-white fw-bold fs-3">--bs-green</span>
          </div>
        </div>
        <div class="row gap-3 mb-3">
          <div class="col py-10" style="background-color: var(--bs-teal);">
            <span class="text-center text-white fw-bold fs-3">--bs-teal</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-cyan);">
            <span class="text-center text-white fw-bold fs-3">--bs-cyan</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-black);">
            <span class="text-center text-white fw-bold fs-3">--bs-black</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-white);">
            <span class="text-center text-dark fw-bold fs-3">--bs-white</span>
          </div>
        </div>
        <div class="row gap-3 mb-3">
          <div class="col py-10" style="background-color: var(--bs-gray);">
            <span class="text-center text-white fw-bold fs-3">--bs-gray</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-gray-dark);">
            <span class="text-center text-white fw-bold fs-3">--bs-gray-dark</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-gray-100);">
            <span class="text-center text-dark fw-bold fs-3">--bs-gray-100</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-gray-200);">
            <span class="text-center text-dark fw-bold fs-3">--bs-gray-200</span>
          </div>
        </div>
        <div class="row gap-3 mb-3">
          <div class="col py-10" style="background-color: var(--bs-gray-300);">
            <span class="text-center text-dark fw-bold fs-3">--bs-gray-300</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-gray-400);">
            <span class="text-center text-dark fw-bold fs-3">--bs-gray-400</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-gray-500);">
            <span class="text-center text-white fw-bold fs-3">--bs-gray-500</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-gray-600);">
            <span class="text-center text-white fw-bold fs-3">--bs-gray-600</span>
          </div>
        </div>
        <div class="row gap-3 mb-3">
          <div class="col py-10" style="background-color: var(--bs-gray-700);">
            <span class="text-center text-white fw-bold fs-3">--bs-gray-700</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-gray-800);">
            <span class="text-center text-white fw-bold fs-3">--bs-gray-800</span>
          </div>
          <div class="col py-10" style="background-color: var(--bs-gray-900);">
            <span class="text-center text-white fw-bold fs-3">--bs-gray-900</span>
          </div>
          <div class="col py-10">
          </div>
        </div>
    </div>
</div>
