<div class="mb-5">
    <h4 class="fs-2">Text Color</h4>
    <div class="fs-3">
        <table>
        <tr>
            <td>text-white</td>
            <td class="text-white">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-primary</td>
            <td class="text-primary">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-secondary</td>
            <td class="text-secondary">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-light</td>
            <td class="text-light">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-success</td>
            <td class="text-success">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-info</td>
            <td class="text-info">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-warning</td>
            <td class="text-warning">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-danger</td>
            <td class="text-danger">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-dark</td>
            <td class="text-dark">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-muted</td>
            <td class="text-muted">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-gray-100</td>
            <td class="text-gray-100">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-gray-200</td>
            <td class="text-gray-200">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-gray-300</td>
            <td class="text-gray-300">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-gray-400</td>
            <td class="text-gray-400">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-gray-500</td>
            <td class="text-gray-500">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-gray-600</td>
            <td class="text-gray-600">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-gray-700</td>
            <td class="text-gray-700">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-gray-800</td>
            <td class="text-gray-800">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        <tr>
            <td>text-gray-900</td>
            <td class="text-gray-900">THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</td>
        </tr>
        </table>
    </div>
</div>
<div class="mb-5">
    <h4 class="fs-2">Font Size</h4>
    <div>
        <h1 class="fs-1">Heading 1: THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</h1>
        <h2 class="fs-2">Heading 2: THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</h2>
        <h3 class="fs-3">Heading 3: THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</h3>
        <h4 class="fs-4">Heading 4: THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</h4>
        <h5 class="fs-5">Heading 5: THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</h5>
        <span>Normal Short Text: THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG</span>
        <p>Normal Long Text: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac sollicitudin tellus. Morbi sodales arcu purus. Curabitur ac lacinia nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent pellentesque tellus ante, et blandit risus sagittis a. Praesent mattis tellus ullamcorper diam dictum, non consequat dolor sollicitudin. Integer gravida eu elit dictum feugiat. Pellentesque feugiat suscipit purus in hendrerit.</p>
        <p>Donec vestibulum ipsum mauris, at vestibulum diam dapibus et. Ut porta nibh egestas, posuere dolor vel, convallis orci. In at vulputate orci. Nulla ac fringilla nisi. Aliquam vulputate ut sapien at aliquet. Proin sit amet nibh non metus porta cursus. Mauris suscipit risus efficitur libero gravida, pharetra lobortis velit ornare. Etiam sed luctus nisl. Maecenas et augue eget dui vehicula tristique ut a dolor. Etiam sollicitudin blandit mauris, vel pretium dolor blandit in. Morbi quis tortor eget mauris molestie pellentesque quis quis nisi. Phasellus tristique pharetra lectus, in faucibus diam tempor ac.
        </p>
    </div>
</div>