{% load widget_tweaks %}
<div class="card">
  <span id="title" hidden>{{ title }} </span>
  <div class="card-body">
    <form hx-post="{% url 'uman:menu-create' %}" hx-target="#main-content" hx-swap="innerHTML">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
      <div class="row mb-3">
        <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
        <div class="col-sm-9">
          {% if field.label == 'Aktif' %}
              <input type="checkbox" class="form-check-input" name="aktif" id="id_aktif" value="1"/>
          {% elif field.label == 'Isembed' %}
              <input type="checkbox" class="form-check-input" name="isembed" id="id_isembed" value="1"/>
          {% elif field.name == 'as_beranda' %}
              <input type="checkbox" class="form-check-input" name="{{field.name}}" id="{{ field.id_for_label }}" value="1"/>
          {% elif field.name == 'parent' %}
              {% render_field field class="parent-select2 form-control" %}
          {% elif field.name == 'aplikasi' %}
              {% render_field field class="aplikasi-select2 form-control" %}
          {% else %}
              {{ field|add_class:'form-control' }}
          {% endif %} 
        </div>
        {% for error in field.errors %}
                <span class="help-block text-danger"> {{ error }} !!</span>
        {% endfor %}
      </div>
      {% endfor %}

      <div class="card-footer">
        <button hx-target="#main-content" hx-swap="innerHTML" hx-trigger="click" hx-get="{% url 'uman:menu-list'  %}"
          class="btn btn-secondary"><i class="fa fa-undo"></i> Batal</button>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i> Simpan
        </button>
      </div>
    </form>
  </div>
</div>
{% block javascripts %}
  {% include 'includes/set_title.html' %}
<script>
$(document).ready(function() {
    $('.parent-select2').select2();
});
$(document).ready(function() {
    $('.aplikasi-select2').select2();
});
</script>

{% endblock javascripts %}
