{% extends 'core/base.html' %}
{% block content %}
<div class="col-12">
  <div id="main-content">
    <div class="body-header border-bottom d-flex py-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">
                    <small class="text-muted">Welcome to NCSIKD</small>
                </div>
            </div>
        </div>
</div>
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
            <h3>Daftar APDB</h3>
        </div>
        <div class="card-body">
            <table id="myDataTable" class="myDataTable table table-hover align-middle mb-0" style="width: 100%;">
            <thead>
                <TR>
                    <TH>No</TH>
                    <TH>Nama</TH>
                    <TH>Kode</TH>
                    <TH>Wilayah</TH>
                </TR>
            </thead>
            <tbody>
            {% for row in object_list %}
                <tr>
                    <TD>{{ forloop.counter }}</TD>
                    <TD>{{ row.kodepemda }}</TD>
                    <TD>{{ row.namapemda }}</TD>
                    <TD>{{ row.wilayah }}</TD>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    // project data table
    $(document).ready(function() {
        var table = $('#myDataTable').DataTable( {
            scrollY:        "450px",
            scrollX:        true,
            scrollCollapse: true,
            paging:         true,
            fixedColumns:   {
                left: 3,
            },
            bFilter: true,
            bInfo: true,
            pageLength: 50,
            bLengthChange: false,
            buttons: ["csv", "excel", "pdf"], 
        }).buttons().container().appendTo("#myDataTable_wrapper .col-md-6:eq(0)");
    } );
</script>
{% endblock %}
