{% load widget_tweaks %}
<div class="card">
    <span id="title" hidden>{{ title }} </span>
    <div class="card-header py-3 bg-transparent border-bottom-0">
        <h6 class="card-title mb-0"><strong>Ubah Password User {{object.user.username}}</strong></h6>
    </div>
    {% include 'includes/alerts.html' %}
    <div class="card-body">
        <form hx-post="{% url 'uman:admin_pemda_manage_user-change-password' pk %}" method="POST" hx-swap="innerHTML" hx-indicator="#loading" hx-target="#main-content">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <div class="row mb-3">
                <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
                <div class="col-sm-9">
                    {{ field|add_class:'form-control' }}
                </div>
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            {% endfor %}
            <br />
            <div class="card-footer">
<a  hx-target="#main-content" hx-indicator="#loading" hx-swap="innerHTML" hx-trigger="click" hx-get="{% url 'uman:admin_pemda_manage_user-list'  %}" class="btn btn-secondary mr-2"><i class="fa fa-undo"></i> Kembali</a> &nbsp;&nbsp;
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-pencil"></i> Ubah
                </button>
            </div>
        </form>
    </div>
</div>
{% include 'includes/set_title.html' %}
