{% load static %}


<!-- Sidebar -->
<!-- SIDEBAR -->
<aside class="sidebar bg-white shadow-sm">
  <div class="sidebar-header text-center">
    <a href="{% url 'uman:homepage' %}">
      <img src="{% static 'modiva3/img/favicon.png' %}" alt="MODIVA" class="logo-sidebar">
    </a>
  </div>
  <nav class="sidebar-nav">
    <a href="{% url 'vitamin:dashboard-list' %}"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.url_name == 'dashboard-list' %}active{% endif %}">
      <i class="bi bi-grid-fill"></i>
      <span class="nav-label">Dashboard</span>
    </a>
    {% if user.is_superuser or user.groups.first.name == 'Administrator' %}
    <a href="{% url 'vitamin:puskesmas-list' %}"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.url_name == 'puskesmas-list' %}active{% endif %}">
      <i class="fas fa-hospital mb-2"></i>
      <span class="nav-label">Puskesmas</span>
    </a>
    <a href="{% url 'vitamin:sekolah-list' %}"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.url_name == 'sekolah-list' %}active{% endif %}">
      <i class="fas fa-school mb-2"></i>
      <span class="nav-label">Sekolah</span>
    </a><a href="{% url 'vitamin:contactmessage-list' %}"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.url_name == 'contactmessage-list' %}active{% endif %}">

      <i class="fas fa-comment-dots mb-2"></i>
      <span class="nav-label">Form</span>
    </a>
    <a href="{% url 'vector:upload_page' %}"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.url_name == 'upload_page' %}active{% endif %}">
      <i class="fas fa-database mb-2"></i>
      <span class="nav-label">RAG</span>
    </a>
    <a href="{% url 'anemia:input' %}"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.namespace == 'anemia' %}active{% endif %}">
      <i class="fas fa-vial-circle-check mb-2"></i>
      <span class="nav-label">Anemia</span>
    </a>
    {% endif %}

    {% if user.groups.first.name == 'Puskesmas' %}
    <a href="{% url 'vitamin:puskesmas-list' %}"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.url_name == 'puskesmas-list' %}active{% endif %}">
      <i class="fas fa-hospital mb-2"></i>
      <span class="nav-label">Puskesmas</span>
    </a>
    <a href="{% url 'vitamin:sekolah-list' %}"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.url_name == 'sekolah-list' %}active{% endif %}">
      <i class="fas fa-school mb-2"></i>
      <span class="nav-label">Sekolah</span>
    </a>
    <a href="{% url 'peta:peta-index' %}sekolah"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.url_name == 'contactmessage-list' %}active{% endif %}">

      <i class="fas fa-map mb-2"></i>
      <span class="nav-label">Peta</span>
    </a>
    <a href="{% url 'vector:upload_page' %}"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.url_name == 'upload_page' %}active{% endif %}">
      <i class="fas fa-database mb-2"></i>
      <span class="nav-label">RAG</span>
    </a>
    <a href="{% url 'anemia:input' %}"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.namespace == 'anemia' %}active{% endif %}">
      <i class="fas fa-vial-circle-check mb-2"></i>
      <span class="nav-label">Anemia</span>
    </a>
    {% endif %}
    {% if user.groups.first.name == 'Sekolah' %}
    <a href="{% url 'vitamin:sekolah-list' %}"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.url_name == 'sekolah-list' %}active{% endif %}">
      <i class="fas fa-school mb-2"></i>
      <span class="nav-label">Sekolah</span>
    </a><a href="{% url 'peta:peta-index' %}sekolah"
      class="nav-item d-flex flex-column align-items-center text-center {% if request.resolver_match.url_name == 'contactmessage-list' %}active{% endif %}">

      <i class="fas fa-map mb-2"></i>
      <span class="nav-label">Peta</span>
    </a>
    {% endif %}

  </nav>
</aside>
<!-- End of Sidebar -->
