{% load static %}
{% load core_tags %}
<div class="d-flex align-items-center ms-1" id="kt_header_user_menu_toggle">
    <!--begin::User info-->
    <div class="btn btn-flex align-items-center bg-hover-white bg-hover-opacity-10 py-2 ps-2 pe-2 me-n2" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
        <!--begin::Name-->
        <div class="d-none d-md-flex flex-column align-items-end justify-content-center me-2 me-md-4">
            <span class="text-white opacity-75 fs-8 fw-semibold lh-1 mb-1">{% if user.first_name and user.last_name%}{{user.first_name}} {{user.last_name}}{% else %}{{ user.username }}{% endif %}</span>
            <span class="text-white fs-8 fw-bold lh-1">{% if  user.first_name %}{{ user.first_name }}{% endif %}</span>
            {% comment %}<span class="text-white fs-8 fw-bold lh-1">{% if pemda_user %}{{ pemda_user.nm_pemda }}{% endif %}</span> {% endcomment %}
        </div>
        <!--end::Name-->
        <!--begin::Symbol-->
        <div class="symbol symbol-30px symbol-md-40px">
            {% if profil.foto_profil %}
                <img src="{% get_media_prefix %}/{{profil.foto_profil}}" alt="image" id='foto_profil'/>
            {% else %}
                <img src="{% get_media_prefix %}/uman/foto_profil/gambar.png" alt="image" id='foto_profil'/>
            {% endif %}

        </div>
        <!--end::Symbol-->
    </div>
    <!--end::User info-->
    <!--begin::User account menu-->
    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
        <!--begin::Menu item-->
        <div class="menu-item px-3">
            <div class="menu-content d-flex align-items-center px-3">
                <!--begin::Avatar-->
                <div class="symbol symbol-50px me-5">
            {% if profil.foto_profil %}
                <img src="{% get_media_prefix %}/{{profil.foto_profil}}" alt="image" id='foto_profil'/>
            {% else %}
                <img src="{% get_media_prefix %}/uman/foto_profil/gambar.png" alt="image" id='foto_profil'/>
            {% endif %}

                </div>
                <!--end::Avatar-->
                <!--begin::Username-->
                <div class="d-flex flex-column">
                    <div class="fw-bold d-flex align-items-center fs-5">{% if user.first_name and user.last_name%}{{user.first_name}} {{user.last_name}}{% else %}{{ user.username }}{% endif %}
                    </div>
                    <a href="#" class="fw-semibold text-muted text-hover-primary fs-7">{% if  user.first_name %}{{ user.first_name }}{% endif %}</a>
                </div>
                <!--end::Username-->
            </div>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu separator-->
        <div class="separator my-2"></div>
        <!--end::Menu separator-->
        <!--begin::Menu item-->
        <div class="menu-item px-5">
            <a href="{% url 'uman:profile-account' %}" class="menu-link px-5">My Profile</a>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        {% comment %}
        <div class="menu-item px-5">
            <a href="../../demo20/dist/apps/projects/list.html" class="menu-link px-5">
                <span class="menu-text">My Projects</span>
                <span class="menu-badge">
                    <span class="badge badge-light-danger badge-circle fw-bold fs-7">3</span>
                </span>
            </a>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item px-5" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="left-start" data-kt-menu-offset="-15px, 0">
            <a href="#" class="menu-link px-5">
                <span class="menu-title">My Subscription</span>
                <span class="menu-arrow"></span>
            </a>
            <!--begin::Menu sub-->
            <div class="menu-sub menu-sub-dropdown w-175px py-4">
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="../../demo20/dist/account/referrals.html" class="menu-link px-5">Referrals</a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="../../demo20/dist/account/billing.html" class="menu-link px-5">Billing</a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="../../demo20/dist/account/statements.html" class="menu-link px-5">Payments</a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="../../demo20/dist/account/statements.html" class="menu-link d-flex flex-stack px-5">Statements
                    <span class="ms-2 lh-0" data-bs-toggle="tooltip" title="View your statements">
                        <i class="ki-duotone ki-information-5 fs-5">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                        </i>
                    </span></a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu separator-->
                <div class="separator my-2"></div>
                <!--end::Menu separator-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <div class="menu-content px-3">
                        <label class="form-check form-switch form-check-custom form-check-solid">
                            <input class="form-check-input w-30px h-20px" type="checkbox" value="1" checked="checked" name="notifications" />
                            <span class="form-check-label text-muted fs-7">Notifications</span>
                        </label>
                    </div>
                </div>
                <!--end::Menu item-->
            </div>
            <!--end::Menu sub-->
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item px-5">
            <a href="../../demo20/dist/account/statements.html" class="menu-link px-5">My Statements</a>
        </div>
        {% endcomment %}
        <!--end::Menu item-->
        <!--begin::Menu separator-->
        <div class="separator my-2"></div>
        <!--end::Menu separator-->
        <!--begin::Menu item-->
        {% comment %}
        <div class="menu-item px-5" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="left-start" data-kt-menu-offset="-15px, 0">
            <a href="#" class="menu-link px-5">
                <span class="menu-title position-relative">Language
                <span class="fs-8 rounded bg-light px-3 py-2 position-absolute translate-middle-y top-50 end-0">English
                <img class="w-15px h-15px rounded-1 ms-2" src="assets/media/flags/united-states.svg" alt="" /></span></span>
            </a>
            <!--begin::Menu sub-->
            <div class="menu-sub menu-sub-dropdown w-175px py-4">
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="../../demo20/dist/account/settings.html" class="menu-link d-flex px-5 active">
                    <span class="symbol symbol-20px me-4">
                        <img class="rounded-1" src="assets/media/flags/united-states.svg" alt="" />
                    </span>English</a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="../../demo20/dist/account/settings.html" class="menu-link d-flex px-5">
                    <span class="symbol symbol-20px me-4">
                        <img class="rounded-1" src="assets/media/flags/spain.svg" alt="" />
                    </span>Spanish</a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="../../demo20/dist/account/settings.html" class="menu-link d-flex px-5">
                    <span class="symbol symbol-20px me-4">
                        <img class="rounded-1" src="assets/media/flags/germany.svg" alt="" />
                    </span>German</a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="../../demo20/dist/account/settings.html" class="menu-link d-flex px-5">
                    <span class="symbol symbol-20px me-4">
                        <img class="rounded-1" src="assets/media/flags/japan.svg" alt="" />
                    </span>Japanese</a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <a href="../../demo20/dist/account/settings.html" class="menu-link d-flex px-5">
                    <span class="symbol symbol-20px me-4">
                        <img class="rounded-1" src="assets/media/flags/france.svg" alt="" />
                    </span>French</a>
                </div>
                <!--end::Menu item-->
            </div>
            <!--end::Menu sub-->
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item px-5 my-1">
            <a href="../../demo20/dist/account/settings.html" class="menu-link px-5">Account Settings</a>
        </div>
        {% endcomment %}
        <!--end::Menu item-->
        <div class="menu-item px-5">
            <a href="{% url 'uman:change-password' %}" class="menu-link px-5">Change Password</a>
        </div>
        <div class="separator my-2"></div>
        <!--begin::Menu item-->
        <div class="menu-item px-5">
            <a href="{% url 'uman:logout' %}" class="menu-link px-5">Sign Out</a>
        </div>
        <!--end::Menu item-->
    </div>
    <!--end::User account menu-->
</div>
