{% block content %}
<div id="kt_content" class="content flex-row-fluid">
  <span id="title" hidden>{{ title }} </span>
<div class="card mb-5 mb-xxl-8">
<div class="card-body pt-9 pb-0">
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Id</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.id }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">NIS</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.nis }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Nama Siswa</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.nama }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Tempat Lahir</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.tmp_lahir }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Tanggal Lahir</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.tgl_lahir | date:"d-m-Y" }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Email</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.email }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Jenis Kelamin</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.gender }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Sekolah</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.sekolah.nama }}</span>
        </div>
    </div>
    <br>
   

</div>
    <div class="card-footer">
            <a href="{% url 'vitamin:siswa-list' %}" class="btn btn-secondary">
        <i class="fa fa-undo"></i> Kembali
      </a>
    </div>
 </div>
 </div>
{% endblock content %}
{% include 'includes/set_title.html' %}
