{% block content %}
<div id="kt_content" class="content flex-row-fluid">
  <span id="title" hidden>{{ title }} </span>
<div class="card mb-5 mb-xxl-8">
<div class="card-body pt-9 pb-0">
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Id</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.id }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">NIS</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.siswa.nis }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Nama Siswa</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.siswa.nama }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Sekolah</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.siswa.sekolah.nama }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Tahun</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.tahun }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">HB (Hemoglobin)</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.hb }}</span>
        </div>
    </div>
    <br>
    <div class="row mb-7">
        <label class="col-lg-4 fw-semibold text-muted">Keterangan</label>
        <div class="col-lg-8">
            <span class="fw-bold fs-6 text-gray-800">{{ object.keterangan }}</span>
        </div>
    </div>
    <br>
  

</div>
    <div class="card-footer">
      <a href="{% url 'vitamin:siswahb-list' %}" class="btn btn-secondary">
        <i class="fa fa-undo"></i> Kembali
      </a>
    </div>
 </div>
 </div>
{% endblock content %}
{% include 'includes/set_title.html' %}
