{% load static  %}
{% block content %}
<div id="kt_content" class="content flex-row-fluid">
  <span id="title" hidden>{{ title }} </span>
<div class="card mb-5 mb-xxl-8">
<div class="card-body pt-9 pb-0">
    <div class="row mb-7">
        <div class="col-lg-12">
            <span class="fw-bold fs-6 text-gray-800">Anda yakin akan menghapus Group {{ object.name }} ??</span>
        </div>
    </div>


    
      <div class="card-footer">
        <form hx-post="{% url 'uman:group-delete' object.pk %}" hx-target="#main-content" hx-swap="innerHTML" hx-indicator="#loading">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
                {{ hidden }}
          {% endfor %}
        <a hx-target="#main-content" hx-swap="innerHTML" hx-trigger="click" hx-get="{% url 'uman:group-list'  %}" hx-indicator="#loading" class="btn btn-secondary mr-2"><i class="fa fa-undo"></i> Batal</a>
        <button type="submit" class="btn btn-danger">
          <i class="fa fa-trash"></i> Hapus
        </button>
        </form>
      </div>
  </div>
 </div>
{% endblock content %}
{% block javascripts %}
 {% include 'includes/set_title.html' %}
{% endblock javascripts %}
