<div class="card">
    <span id="title" hidden>{{ title }} </span> 
 {% include 'includes/spinner.html' %}
 <div class="card-header d-flex justify-content-between align-items-center bg-transparent border-bottom-0">
    {% if perms.vitamin.add_kecamatan %}
    <button hx-indicator='#loading' hx-get="{% url 'vitamin:kecamatan-create' %}" hx-trigger="click" hx-target='#main-content' hx-swap="innerHTML" class="btn btn-primary"><i class="fa fa-plus-square"></i> Tambah</button>
    {% endif %}
</div>

<div class="card-body">
    <div class="table-responsive">
    <table id="myDataTable" class="myDataTable table table-hover align-middle mb-0" style="width: 100%;">
        <thead>
            <tr>
                <th>No</th>
                <th>Kode</th>
                <th>Nama</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for data in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ data.id }}</td>
                <td>{{ data.nama }}</td>
                
                <td>
                    {% if perms.vitamin.view_kecamatan %}
                    <button hx-indicator='#loading' hx-get="{% url 'vitamin:kecamatan-detail' data.id %}" hx-trigger="click" hx-target='#main-content' hx-swap="innerHTML" class="btn btn-link" title='Lihat Detil'><i class="fa-solid fa-eye text-primary"></i></button>
                    {% endif %}
                    {% if perms.vitamin.change_kecamatan %}
                    <button hx-indicator='#loading' hx-get="{% url 'vitamin:kecamatan-edit' data.id %}" hx-trigger="click" hx-target='#main-content' hx-swap="innerHTML" class="btn btn-link" title='Ubah'><i class="fa-solid fa-pencil text-warning"></i></button>
                    {% endif %}
                    {% if perms.vitamin.delete_kecamatan %}
                    <button hx-indicator='#loading' hx-get="{% url 'vitamin:kecamatan-delete' data.id %}" hx-trigger="click" hx-target='#main-content' hx-swap="innerHTML" class="btn btn-link" title='Hapus'><i class="fa fa-trash text-danger"></i></button>
                    {% endif %}
                  
                </td>
            </tr>    
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
</div>
  {% block javascripts %}
	{% include 'includes/datatables.html' %}
    {% include 'includes/set_title.html' %}
  {% endblock %}

